<solymer-element wrapper="div" name="solymer-input">
  <template attributes="name">
  <button on-click={{sayHello}} on-mouseover={{sayMouseOver}}> Click Me </button>
    {{name}}
  </template>
  <script>
    Polymer('solymer-input', {
      initialText: "lalalal",
      initialState: {
        text: "test",
        value: 123
      },
      onload: function() {
        console.log("solymer input loaded");
      },
      sayHello: function(event) {
        alert("Hello" + this.initialText + " name :" + this.getAttribute('name'));
      },
      sayMouseOver: function(event) {
        alert("Mouseover!");
      }
    });
  </script>
</solymer-element>
